/* Set font size for whole page and for rem */
html {
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
}

img {
  height: 70px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #d4d3d3;
  border-top: 1px solid #d4d3d3;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-add-random {
  border: none;
  text-decoration: none;
  background-color: #d4d3d3;
  color: #151515;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 3px 16px;
  border-radius: 4px;
  margin: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  width: 200px;
}

/* Add a pseudo selector to animate button #btn-add-random when clicked, with confeti */
#btn-add-random:active {
  background-color: #fd9a9a;
}


.btn-like {
  border: none;
  text-decoration: none;
  background-color: #d4d3d3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding-top: 4px;
  margin: 0 auto;
}

.btn-like:hover {
  transition: 0.2s;
  background-color: #a9a7a7;  
}

.btn-like img {
  width: 18px;
  height: 18px;
}

.btn-like.selected {
  background-color: #fd9a9a;
}

.btn-delete {
  border: none;
  text-decoration: none;
  background-color: #d4d3d3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 3px 16px;
  margin: 0 auto;  
  border-radius: 4px;
}

.btn-delete:hover {
  transition: 0.2s;
  background-color: #a9a7a7;  
}
