#root {
  text-align: center;
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.recipe-card {
  border: 1px solid white;
  margin: 20px;
  padding: 10px;
  border-radius: 2rem;
}
nav {
  background-color: aquamarine;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
